*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    font-family: Roboto, sans-serif;
    background-color: black;
}
.freecodecamp-logo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.freecodecapm-logo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}